
        .slideshow-container {
            position: relative;
            max-width: 90%;
            margin: auto;
            margin-bottom: 15px;
        }
        .slides {
            display: none;
        }
        .active {
            display: block;
        }
        .prev, .next {
            cursor: url('imgs/cursor2.png'), pointer;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            background-color: rgba(0,0,0,0.3);
            color: gray !important;
            font-weight: bold;
            font-size: 18px;
            border-radius: 20px 20px 20px 20px;
            -webkit-border-radius: 20px 20px 20px 20px;
            -moz-border-radius: 20px 20px 20px 20px;
            transition: 0.25s ease;
        }
        .prev {
            margin-left: 5%;
        }
        .next {
            margin-left: 80.2%;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
            color: white !important;
            border-radius: 7px 7px 7px 7px;
            -webkit-border-radius: 7px 7px 7px 7px;
            -moz-border-radius: 7px 7px 7px 7px;
        }
        .dots-container {
            text-align: center;
            margin-top: -15;
        }
        .dot {
            cursor: url('imgs/cursor2.png'), pointer;
            height: 12px;
            width: 12px;
            margin: 0 2px;
            background-color: gray;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.25s ease;
        }
        .active-dot {
            background-color: white;
        }